<a href="https://colab.research.google.com/github/ogustavobrianti/Medidor-de-IMC/blob/main/01_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Revisão de Python**
### Com foco em Machine Learning

## Lists
Listas em Python representam uma **sequência de elementos _ordenados_**.

In [2]:
numeros_da_mega_sena = [20,11, 60, 5, 44, 28]
numeros_da_mega_sena

[20, 11, 60, 5, 44, 28]

In [3]:
type(numeros_da_mega_sena)

list

A **ordenação** dos elementos refere-se a seus _posicionamentos_ na lista, ou seja, o primeiro elemento da lista é o 20, o segundo é o 11, e assim por diante. <br/>
A **ordem** dos valores/conteúdos é outra coisa.

In [4]:
# os indices da lista começam com 0 e vão até n-1, onde n é o número de elemnetos # da lista (tamanho da lista)
numeros_da_mega_sena[3]

5

#### Listas vazias

In [5]:
lista_vazia_1=[]
lista_vazia_1

[]

In [6]:
lista_vazia_2=list()
lista_vazia_2

[]

#### Listas podem ter elementos de _qualquer tipo_

In [27]:
planetas = ['mercurio', 'venus', 'terra', 'marte', 'jupiter', 'saturno', 'urano', 'netuno']
planetas

['mercurio',
 'venus',
 'terra',
 'marte',
 'jupiter',
 'saturno',
 'urano',
 'netuno']

In [8]:
print(planetas)

['mercurio', 'venus', 'terra', 'marte', 'jupiter', 'saturno', 'urano', 'netuno']

In [28]:
planetas[0]

'mercurio'

In [17]:
planetas[2]

'terra'

In [22]:
#checar o tamanho da lista
len(planetas)

12

In [20]:
planetas[8]

1

#### Listas podem ter _tipos diferentes_ numa lista:

In [10]:
planetas_e_numeros = ['mercurio', 'venus', 'terra', 'marte', 'jupiter', 'saturno', 'urano', 'netuno', 1, 2, 3, 0]
planetas

['mercurio',
 'venus',
 'terra',
 'marte',
 'jupiter',
 'saturno',
 'urano',
 'netuno',
 1,
 2,
 3,
 0]

#### Podemos ter listas de listas

In [12]:
matriz=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]
]
matriz

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [13]:
type(matriz[0])

list

In [14]:
type(matriz)

list

In [15]:
#imprime a lista de jeito "bonito"
for linha in matriz:
  print (linha)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10, 11, 12]

In [ ]:
matriz[1] [2] #linha posição 1, coluna posição 2

### Indexação

Cada elemento de uma lista é indexado a uma posição. <br/>
Podemos acessar um elemento passando seu índice com []:

Listas em Python suporta **índices negativos**, cuja ordem de indexação é o contrário, começando do final para o início:

In [21]:
planetas[-1] #acessa o último elemento

0

Podemos também acessar o _último elemento_ da lista desta maneira:

In [23]:
planetas[len(planetas) -1]

0

Inline-style:
![](./imagens/exemplo_lista_indices.png)

### Slicing (fatiamento)
Podemos retornar **uma cópia** dos elementos de um **intervalo contínuo** de uma lista.

In [24]:
planetas[0:3] #0:3 -> gera o intervalo0 (inclusive) a 3(exclusive) [0,3)

['mercurio', 'venus', 'terra']

`planetas[0:3]` é nosso jeito de consultar os elementos da lista `planetas` do índice 0 até o índice 3 (sem incluí-lo).

#### Entendendo os índices de um Intervalo
Um intervalo em python sempre **inclui** o número passado como **limite inferior** e *exclui* o número do *limite superior* do intervalo.

`[10:15]` são os números do intervalo [10, 15), ou seja, [10, 11, 12, 13, 14]

#### De volta ao slicing

Os índices iniciais e finais do intervalo do _slicing_ são **opcionais**.

Se não informarmos o _índice inicial_, o valor 0 é assumido:

In [25]:
planetas[:3]

['mercurio', 'venus', 'terra']

In [26]:
planetas [3:]

['marte', 'jupiter', 'saturno', 'urano', 'netuno', 1, 2, 3, 0]

Se ignorarmos o _índice final_, é assumido o _tamanho da lista_ `len(lista)`:

Podemos também fazer o slicing com **índices negativos**:

In [ ]:
planetas[1:-1] #lembrando que o último é exclusivo

`planetas[1:-1]` considera o intervalo que vai do índice [1], o **incluindo**, até o índice [-1] ou [len(planetas) - 1], no exemplo é o índice [7], o **excluindo**. <br/>
Portanto, o intervalo retornado contém os índices [1, 2, 3, 4, 5, 6].

<br/>

Outro exemplo:

In [29]:
print(planetas)

['mercurio', 'venus', 'terra', 'marte', 'jupiter', 'saturno', 'urano', 'netuno']

In [30]:
planetas[-3:]

['saturno', 'urano', 'netuno']

Vamos entender o intervalo `[-3:]`.

O índice `[-3]` corresponde ao índice `[len(planetas) - 3]`, ou seja, o índice `[5]`. <br/>
Portanto, `[-3:]` é sinônonimo de `[5:]`.

Ao omitir o último índice do intervalo, consideramos por padrão `len(planetas)`, que é 8. <br/>
Logo, `[-3:]` é o mesmo que `[5:8]`, que resulta nos índices `[5, 6, 7]`, que são os índices dos 3 últimos elementos dessa lista.

#### Os elementos retornados pelo Slicing de Listas a uma variável são CÓPIAS

In [37]:
ultimos_planetas = planetas[-3:]
planetas[-3] = 'Brasil'
planetas[-2] = 'Holanda'
planetas[-1] = 'Itália'
print(ultimos_planetas)
print(planetas)

['Brasil', 'Holanda', 'Itália']
['mercurio', 'venus', 'terra', 'marte', 'jupiter', 'Brasil', 'Holanda', 'Itália']

In [38]:
#alternativa para alterar o valor
planetas[-3:] = ['Brasil', 'Holanda', 'Itália']

#### Alteração de Múltiplos elementos de uma Lista via Slicing

In [39]:
planetas[1:4]=['Japão']
print(planetas)

['mercurio', 'Japão', 'jupiter', 'Brasil', 'Holanda', 'Itália']

<br/>

Se o **número de elementos atribuídos for DIFERENTE do número de elementos do slicing**, os elementos excedentos ou faltantes da lista são ignorados ===> TOME CUIDADO

### For-each em Listas
Como mostrado no notebook anterior, podemos iterar elementos em uma lista:

In [40]:
planetas = ['mercurio', 'venus', 'terra', 'marte', 'jupiter', 'saturno', 'urano', 'netuno']
planetas

['mercurio',
 'venus',
 'terra',
 'marte',
 'jupiter',
 'saturno',
 'urano',
 'netuno']

In [44]:
for planeta in planetas:
  print(f'planeta={planeta}')

planeta=mercurio
planeta=venus
planeta=terra
planeta=marte
planeta=jupiter
planeta=saturno
planeta=urano
planeta=netuno

In [49]:
# quero iterar no intervalo [1,4]
for planeta in planetas[1:4]:
    print(f'planeta=[planetas]')

planeta=[planetas]
planeta=[planetas]
planeta=[planetas]

No `for`, podemos também recuperar o **índice** e o *elemento* de uma lista, basta usarmos o comando `enumerate`:

<code>
    for i, elemento in enumerate(lista):
        intrução 01
        ....
</code>

In [51]:
for i, planeta in enumerate (planetas):
  print(f'planeta={planeta}')
  print(planeta[i])

planeta=mercurio
m
planeta=venus
e
planeta=terra
r
planeta=marte
t
planeta=jupiter
t
planeta=saturno
n
planeta=urano

IndexError: string index out of range

In [ ]:
for i in range(len(planetas)):
  print9f'Planeta'

### Funções de Listas

In [52]:
print(planetas)

['mercurio', 'venus', 'terra', 'marte', 'jupiter', 'saturno', 'urano', 'netuno']

`len` retorna o tamanho de uma lista (número de elements)

In [53]:
len(planetas)

8

`min` retorna o menor elemento de uma lista

In [57]:
lista_de_numeros = [10, 50,654, 2]
min(lista_de_numeros)

2

`max` retorna o maior elemento de uma lista

In [58]:
lista_de_numeros = [10, 50,654, 2]
max(lista_de_numeros)

654

In [59]:
max(planetas) #ultimo planeta em ordem alfabética

'venus'

`sum` retorna a soma de elementos de uma lista

In [60]:
sum(lista_de_numeros)

716

### Métodos de Listas

`list.append` modifica uma lista adicionando um item (de qualquer tipo) no final.

In [61]:
planetas.append ('Plutão')
planetas

['mercurio',
 'venus',
 'terra',
 'marte',
 'jupiter',
 'saturno',
 'urano',
 'netuno',
 'Plutão']

`list.pop` remove e retorna o último elemento da lista:

In [64]:
ultimo_planeta = planetas.pop()
print(ultimo_planeta)
planetas

netuno

['Plutão', 'venus', 'terra', 'marte', 'jupiter', 'saturno', 'urano']

`reverse` reverte a ordem dos elementos da lista.

In [65]:
planetas = ['mercurio', 'venus', 'terra', 'marte', 'jupiter', 'saturno', 'urano', 'netuno']
planetas

['mercurio',
 'venus',
 'terra',
 'marte',
 'jupiter',
 'saturno',
 'urano',
 'netuno']

In [66]:
planetas.reverse() #Reverte in place - (na própria lista)
print(planetas)

['netuno', 'urano', 'saturno', 'jupiter', 'marte', 'terra', 'venus', 'mercurio']

O possível problema é que a **própria lista** é revertida. <br>
Caso você deseje ter uma **cópia revertida** da lista:

In [68]:
planetas = ['mercurio', 'venus', 'terra', 'marte', 'jupiter', 'saturno', 'urano', 'netuno']
planetas_revertida = list(planetas)
planetas_revertida.reverse()
planetas_revertida

['netuno',
 'urano',
 'saturno',
 'jupiter',
 'marte',
 'terra',
 'venus',
 'mercurio']

In [71]:
planetas

['mercurio',
 'venus',
 'terra',
 'marte',
 'jupiter',
 'saturno',
 'urano',
 'netuno']

#### Ordenação de listas

`sorted` retorna uma versão **ordernada (em ordem crescente)** de uma lista (NÃO ALTERA A LISTA ATUAL)

In [70]:
planetas_ordenados = sorted(planetas)
planetas_ordenados

['jupiter',
 'marte',
 'mercurio',
 'netuno',
 'saturno',
 'terra',
 'urano',
 'venus']

In [75]:
lista_de_numeros
lista_de_numeros.reverse() #também é in place
print(lista_de_numeros)

[2, 654, 50, 10]

##### Para ordernar em **ordem descrente**

In [76]:
lista_de_numeros
lista_de_numeros.reverse() #também é in place
print(lista_de_numeros)

[10, 50, 654, 2]

#### Buscando elementos em uma lista

`list.index` retorna o índice de um dado elemento da lista, ou lança uma exception caso ele não esteja presente na lista.

In [77]:
print(planetas)

['mercurio', 'venus', 'terra', 'marte', 'jupiter', 'saturno', 'urano', 'netuno']

In [78]:
planetas.index('marte')

3

Outra alternativa melhor para saber se **uma lista contém ou não um dado elemento**, sem o lançamento de exception, é usar o `in`:

In [79]:
'marte' in planetas

True

In [80]:
'palhaço' in planetas

False

Podemos ainda usar o `not in` para checar se a lista **não possui um dado elemento**:

#### Concatenando listas
Suponha que desejamos juntar/concatenar duas listas em uma só. <br/>
Podemos tentar usar o método `append`, pois ele adiciona um dado elemento ao final da lista.
Vejamos:

Note que a a lista `cidades_estado_sp` tem agora alguns elementos que são _strings_, e o último elemento é uma _lista_. <br/>
O que queremos, na verdade, é ter uma lista **apenas com _strings_**.

Para isso, podemo usar o método `lista.extend(lista_2)` que vai copiar todos os elementos dentro da lista `lista_2` e colocá-los no final da lista `lista`.

### List Comprehensions
É uma forma curta de se criar listas.

**Ex 1)** Suponha que queremos criar uma lista cujo valor do índice [i] é i^2 (o índice ao quadrado). <br/>
Uma forma padrão seria:

Usando o **list comprehensions**:

**Ex 2)** Filtrando os elementos negativos de uma lista:

Outra maneira de aplicar funções a listas é usar **lambda functions**.

**Ex 3)** Lambda functions: